<h1>The List of Posts</h1>
<div>
    <% @posts.each do |post| %>
        <%= link_to post do %>
            <li>
                <%= post.title %>
            </li>
        <% end %>
    <% end %>
</div>