<div class="shadow-sm p-3 mb-5 bg-white rounded overflow-wrap">
    <h1>
        <span class="badge badge-pill badge-info">
            <%= @post.title %>
        </span>
    </h1>
    <p class="shadow-none p-3 mb-5 bg-light rounded"><%= @post.body %></p>

    <% if can? :crud, @post %>
        <div>
            <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-info' %>
            <%= link_to "Delete", post_path(@post), 
                method: :delete, 
                class: 'btn btn-danger',
                data: { confirm: "Are you sure?" } 
            %>
        </div>
    <% end %>
</div>

<hr />